.square {
  width: 4em;
  height: 4em;
  margin: 1px;
  padding: 0em;
}

.pes {
  background-image: url('cumak.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ruka {
  background-image: url('hand.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}