.square {
  margin: 1px;
}

.pes {
  background-image: url('cumak.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ruka {
  background-image: url('hand.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow {
  background-image: url('arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}